.header {
    top: 0;
    left: 0;
    margin-top: -20px;
    background-color: #55868c;
    padding: 5px;
    color: white;
}
.header ul {
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header ul li {
    margin-left: 4vw;
    color: white;
}
.header ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.03rem;
}
.outer {
    margin-bottom: 10vh;
    padding: 3vw;
    max-height: 90vh;
    text-align: center;
}
